In [1]:
import importlib
import sqlite3
import pandas as pd
from lib import kpi

In [15]:
importlib.reload(kpi)

In [53]:
data           = kpi.load_data()
rpt_config     = kpi.get_rpt_args()
saef_library   = kpi.get_saef_library()
responses_json = kpi.split_response(data[0])
ppl_collection = kpi.person_construct(responses_json, data[2], rpt_config[0])
proj_saef      = kpi.project_construct(responses_json, ppl_collection[0])
buckets        = kpi.matched_library(saef_library, ppl_collection[1])
templates      = kpi.load_templates()
meta_bucket    = buckets[0]
bucket         = buckets[1]
ppl_saef       = dict(sorted(ppl_collection[0].items(), key = lambda x: x[1].get('LastName')))
ppl_hash       = ppl_collection[1]
bulk_responses = data[0]
biblio         = data[1]
scopus         = data[2]
rpt_year       = rpt_config[0]
organisations  = rpt_config[1]
org_shortnames = list(organisations.keys())
proj_saef_nohold = proj_saef[proj_saef.Status != 'On hold']

In [54]:
# 1.remove empty rows
bucket = bucket[bucket['id_person'].isna() == False]
# 2. Make parsing more straight forward
for prsn in ppl_saef:
    if ppl_saef[prsn]['Gender'] == 'Non-binary/Gender diverse' or  ppl_saef[prsn]['Gender']  == 'Prefer not to say':
        ppl_saef[prsn]['Gender'] = 'Other'
# 3. Exclude: Nicole Webster, 027E2DEA-DB06-3946-B8C8-E053EF8E09F0
del ppl_saef['027E2DEA-DB06-3946-B8C8-E053EF8E09F0']; del ppl_hash['NicoleWebster']
# 4. Remove leading/trialing whitespace from  blibliographic entry.
biblio['Biblio'] = biblio['Biblio'].str.strip()
# 5. Jump into your pedantry
for prsn in ppl_saef:
    if ppl_saef[prsn]['Position'] != 'PhD Student' and  ppl_saef[prsn]['Position'] != 'Masters Student' and \
       ppl_saef[prsn]['Position'] != 'Honours Student':
        ppl_saef[prsn]['StudentProjectTitle'] = 'Not applicable'

In [74]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("create table logistics (ID_Logistics, FieldSeason, PlanningStatus, Location, ReqPersonTotal, FinalPersonTotal, LeaveDate, ReturnDate, FinalPersonDays, FieldStatus)")
cur.execute("create table people_logistics (IDf_Logistics, IDf_Person, FullName, LeaveDate, ReturnDate, PersonDays, CareerStage, Gender, Org)")
cur.execute("create table logistics_projects (IDf_Logistics, IDf_Project, IDf_Person, ProjectCode, ProjectPercentage)")

In [75]:
# populate logistics table
for x in responses_json['Logistics_Detail']['data']:
    cur.execute("insert into logistics values (?,?,?,?,?,?,?,?,?,?)", 
          (x['fieldData']['ID_Logistics'],    x['fieldData']['FieldSeason'], \
           x['fieldData']['PlanningStatus'],  x['fieldData']['Location'], \
           x['fieldData']['ReqPersonTotal'],  x['fieldData']['FinalPersonTotal'], \
           x['fieldData']['LeaveDate'],       x['fieldData']['ReturnDate'], \
           x['fieldData']['FinalPersonDays'], x['fieldData']['FieldStatus']) )

In [76]:
# create a list of project(s) percentage per expeditioner  
pl = {}
for p in responses_json['logistics_Projects']['data']:
    # Active members, excl. Governance Committee memebers
    if p['fieldData']['IDf_Person'] != '' and  p['fieldData']['ProjectPercentage'] != '':
        if pl.get(p['fieldData']['IDf_Person']):
            pl[p['fieldData']['IDf_Person']].append(f"{p['fieldData']['Projects 3::ProjectCode']}, ({p['fieldData']['ProjectPercentage']}%)")
        else:
            pl[p['fieldData']['IDf_Person']] = [f"{p['fieldData']['Projects 3::ProjectCode']}, ({p['fieldData']['ProjectPercentage']}%)"] 

# populate people_Logistics table
for x in responses_json['people_Logistics']['data']:
    cur.execute("insert into people_logistics values (?,?,?,?,?,?,?,?,?)", 
          (x['fieldData']['IDf_logistics'],       x['fieldData']['IDf_Person'], \
           x['fieldData']['People::FullName'],    x['fieldData']['DateFrom'], \
           x['fieldData']['DateTo'],              x['fieldData']['PersonDays'], \
           x['fieldData']['People::CareerStage'], x['fieldData']['People::Gender'], \
           x['fieldData']['People::OrganisationAbbreviation']) )

In [77]:
alter_statement  = "ALTER TABLE  people_Logistics  ADD COLUMN  Projects  TEXT";
cur.execute(alter_statement)
con.commit()

update_statement = "UPDATE people_Logistics SET Projects=? WHERE IDf_Person=?"
for p in pl:
    cur.execute(update_statement, (', '.join(pl.get(p)), p))
    con.commit()

In [78]:
# populate logistics_projects table
for x in responses_json['logistics_Projects']['data']:
    cur.execute("insert into logistics_projects values (?,?,?,?,?)", 
          (x['fieldData']['IDf_Project'],       x['fieldData']['IDf_Logistics'], \
           x['fieldData']['IDf_Person'],        x['fieldData']['Projects 3::ProjectCode'], \
           x['fieldData']['ProjectPercentage']) )

In [86]:
# Gender breakdown of completed expeditions
pd.read_sql_query("select a.Gender, count(a.Gender) as Total from people_logistics a \
                  join logistics b on a.IDf_Logistics = b.ID_Logistics \
                  where b.FieldStatus ='Completed' and a.CareerStage not like 'Field%'\
                  group by a.Gender \
                  union \
                  select '-', count(a.Gender) as Total from people_logistics a \
                  join logistics b on a.IDf_Logistics = b.ID_Logistics \
                  where b.FieldStatus ='Completed' and a.CareerStage not like 'Field%' \
                  order by 2" , con )

       Gender  Total
0  Non-binary      1
1                  4
2         Man     12
3       Woman     15
4           -     32

In [80]:
# Career stage breakdown of completed projects
pd.read_sql_query("select a.CareerStage, count(a.CareerStage) as Total from people_logistics a \
            join logistics b on a.IDf_Logistics = b.ID_Logistics where b.FieldStatus ='Completed' \
            and  b.FieldSeason = '2021/22' and a.CareerStage not like 'Field%'\
            group by a.CareerStage \
            union \
            select '-', count(a.CareerStage) as Total from people_logistics a \
            join logistics b on a.IDf_Logistics = b.ID_Logistics where b.FieldStatus ='Completed' \
            and  FieldSeason = '2021/22' and a.CareerStage not like 'Field%' \
            order by 2", con )

                     CareerStage  Total
0  Early Career (<5yrs post PhD)      1
1              Senior Researcher      1
2                        Student      1
3  Mid Career (5-15yrs post PhD)      2
4                   Professional      2
5                              -      7

In [85]:
# Career stage breakdown of completed projects
                #   --100.0 * count(a.Org) / (select count(*) from people_logistics) \
pd.read_sql_query("select a.Org as Organisation, count(a.Org) as Total, \
                  round(100.0 * count(a.Org) / (select count(a.Org) from people_logistics a \
                  join logistics b on a.IDf_Logistics = b.ID_Logistics \
                  where b.FieldStatus ='Completed' and a.CareerStage not like 'Field%' ), 0) as Percent \
                  from people_logistics a \
                  join logistics b on a.IDf_Logistics = b.ID_Logistics \
                  where b.FieldStatus ='Completed' and a.CareerStage not like 'Field%' \
                  group by a.Org \
                  union \
                  select '-', count(a.Org), '100.0' from people_logistics a \
                  join logistics b on a.IDf_Logistics = b.ID_Logistics \
                  where b.FieldStatus ='Completed' and a.CareerStage not like 'Field%' \
                  order by 3 desc", con )

  Organisation  Total Percent
0            -     32   100.0
1                  10    31.0
2       Monash      7    22.0
3          UOW      6    19.0
4          QUT      5    16.0
5          AUT      3     9.0
6     La Trobe      1     3.0

In [90]:
con.close()

In [89]:
cur.execute("select * from  people_Logistics")
cur.fetchall()

[('6E843797-DF41-41CC-BEA0-95629B96B117',
  '18B831FC-B410-D040-ABE6-941BB56C51C9',
  'Caitlin Selfe',
  '2022-10-21',
  '2023-04-18',
  159,
  'Student',
  '',
  'QUT',
  'T2_P019, (100%)'),
 ('982AAC88-C059-47D4-B366-81EF8B9A0315',
  '10C00B70-4EC2-3B48-9073-957BB328D7B1',
  'Felicity McCormack',
  '2022-02-02',
  '2022-02-25',
  23,
  'Mid Career (5-15yrs post PhD)',
  'Woman',
  'Monash',
  'T1_P007, (100%)'),
 ('E561AE5A-BE76-41BF-AC96-CCF4718726B5',
  'E485E5D8-D06C-C646-98C8-758AD0BBCDA9',
  'Georgia Watson',
  '2022-02-02',
  '2022-02-25',
  23,
  'Professional',
  'Woman',
  'UOW',
  'T2_P022, (100%)'),
 ('B49D6C20-2ED2-404A-805D-39B7F6998762',
  '4C10171F-63C4-CB48-9C3E-A4E92BEE5439',
  'Jeremy  Bird',
  '2024-05-31',
  '2024-07-15',
  38,
  'Field Leader',
  'Man',
  'Monash',
  'T2_P019, (33%), T1_P004, (11%)'),
 ('3D75909A-B14A-4149-9551-4C5EB24C0722',
  '76AB4EA1-E845-DD44-A427-D669BC8FAA6E',
  'Johan Barth√©lemy',
  '2022-12-20',
  '2023-02-04',
  36,
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'UOW',
  'T2_P022, (100%)'),
 ('952FE8E7-B152-4695-9AF4-33687CCD5AEF',
  'EDEBC997-3964-7247-BDAC-DA4FDBCAC46C',
  'John Turnbull',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Man',
  'USyd',
  None),
 ('952FE8E7-B152-4695-9AF4-33687CCD5AEF',
  '4260082F-FB3C-9448-9551-6EE013A623FA',
  'Jonny Stark',
  '',
  '',
  '',
  'Senior Researcher',
  '',
  'AAD',
  None),
 ('2FFA64E7-FDF1-4356-826E-BB7284ACB9FD',
  'DEF54954-0543-3049-892A-FE6FEF9CFE9B',
  'Juan Sandino',
  '2022-12-20',
  '2023-02-04',
  36,
  'Early Career (<5yrs post PhD)',
  'Man',
  'QUT',
  'T2_P023, (100%)'),
 ('6E843797-DF41-41CC-BEA0-95629B96B117',
  'FAC450D5-9427-6C42-8C7C-5A193A7D92A5',
  'Margaret Smith',
  '2022-10-21',
  '2023-04-18',
  159,
  'Student',
  '',
  'QUT',
  'T1_P004, (100%)'),
 ('952FE8E7-B152-4695-9AF4-33687CCD5AEF',
  'CE81215A-D81F-EA49-8DE8-F4129E342F48',
  'Matthew Dunbabin',
  '',
  '',
  '',
  'Senior Researcher',
  '',
  'QUT',
  None),
 ('A7AA0525-6CEB-4B68-BEC9-50C867CA090A',
  '43F2CB88-19F4-2146-902C-36DB913DB8CE',
  'Richard Jones',
  '',
  '',
  '',
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'Monash',
  'T1_P007, (100%), T1_P006, (50%), T1_P011, (50%)'),
 ('952FE8E7-B152-4695-9AF4-33687CCD5AEF',
  '58B17C26-C2A3-1541-9EF0-714B1F36CF85',
  'Sally Lau',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  'JCU',
  None),
 ('B49D6C20-2ED2-404A-805D-39B7F6998762',
  'D7A193C0-01F5-4A44-8E00-1DD281BA6308',
  'Samuel Beale',
  '2024-07-01',
  '2024-07-24',
  16,
  'Student',
  'Man',
  'La Trobe',
  'T2_P016, (100%)'),
 ('952FE8E7-B152-4695-9AF4-33687CCD5AEF',
  '4F223812-0ADD-0A46-9768-E8EFB59E5BC2',
  'Stephanie Gardner',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  'USyd',
  None),
 ('237B9002-6793-4AA5-8361-D62C92CD146D',
  '0064A2D8-5259-2743-B9A0-D49D29CFDD35',
  'Laura Phillips',
  '',
  '',
  '',
  'Professional',
  'Woman',
  'Monash',
  'T2_P015, (50%), T2_P018, (100%), T2_P018, (50%)'),
 ('E561AE5A-BE76-41BF-AC96-CCF4718726B5',
  'A9CC637C-8FB9-514F-AEDE-3528CDCEEA5C',
  'Krystal Randall (PhD)',
  '2022-02-02',
  '2022-02-25',
  23,
  'Student',
  'Woman',
  'UOW',
  'T2_P022, (100%)'),
 ('E561AE5A-BE76-41BF-AC96-CCF4718726B5',
  'B3BB1CEF-1CDF-BD42-BC0A-21A212CCAB1A',
  'Sharon Robinson',
  '2022-02-02',
  '2022-02-25',
  23,
  'Senior Researcher',
  'Woman',
  'UOW',
  'T2_P022, (100%)'),
 ('7D2567E0-A0ED-42DF-AA1F-17EE0C56200E',
  'F473E3E6-BB90-D945-B7BB-D5CF618C6282',
  'Aimee Bliss',
  '2022-02-02',
  '2022-02-25',
  23,
  'Professional',
  'Woman',
  'Monash',
  'T2_P018, (100%)'),
 ('982AAC88-C059-47D4-B366-81EF8B9A0315',
  '43F2CB88-19F4-2146-902C-36DB913DB8CE',
  'Richard Jones',
  '2022-02-02',
  '2022-02-25',
  23,
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'Monash',
  'T1_P007, (100%), T1_P006, (50%), T1_P011, (50%)'),
 ('2FFA64E7-FDF1-4356-826E-BB7284ACB9FD',
  '8EDC1FC4-F985-1948-9655-2494947A0707',
  'Barbara Bollard',
  '2022-12-20',
  '2023-02-04',
  36,
  'Senior Researcher',
  'Woman',
  'AUT',
  'T2_P023, (100%), T2_P023, (50%), T2_P022, (50%)'),
 ('85C7BEEF-008F-B045-8BAB-CB826608779D',
  '45EC1597-125B-E04F-A335-5067BEB6A6DA',
  'Kita  Williams',
  '2023-05-10',
  '2023-05-29',
  13,
  'Student',
  'Woman',
  'QUT',
  'T2_P016, (100%)'),
 ('85C7BEEF-008F-B045-8BAB-CB826608779D',
  '206BEE9F-D743-45B7-BF9E-11019604A8B6',
  'Amy Liu',
  '2023-05-10',
  '2023-05-29',
  13,
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T2_P019, (100%), T2_P022, (33%), T2_P015, (34%), T2_P018, (33%)'),
 ('85C7BEEF-008F-B045-8BAB-CB826608779D',
  'FBC44D1A-F9B8-D744-9B50-F4CD71E237D1',
  'Justine Shaw',
  '2023-05-10',
  '2023-05-29',
  13,
  'Senior Researcher',
  'Woman',
  'QUT',
  'T1_P004, (100%)'),
 ('2FFA64E7-FDF1-4356-826E-BB7284ACB9FD',
  '6E82E54E-E8A8-0F47-89E4-4C4D97A51D50',
  'Ashray Doshi',
  '2022-12-20',
  '2023-02-04',
  36,
  'Mid Career (5-15yrs post PhD)',
  '',
  'AUT',
  'T2_P023, (100%)'),
 ('3D75909A-B14A-4149-9551-4C5EB24C0722',
  '6477605A-67AF-2A4B-ACB7-32B97506432E',
  'Krystal Randall',
  '2022-12-20',
  '2023-02-04',
  36,
  'Early Career (<5yrs post PhD)',
  'Woman',
  'UOW',
  'T2_P017, (100%)'),
 ('7633B9C7-55D8-4298-9D01-81F34BE59295',
  '10C00B70-4EC2-3B48-9073-957BB328D7B1',
  'Felicity McCormack',
  '2023-07-19',
  '',
  0,
  'Mid Career (5-15yrs post PhD)',
  'Woman',
  'Monash',
  'T1_P007, (100%)'),
 ('1F190EFF-7B67-4BEA-B283-649DBDBF4528',
  '0C44081C-D763-1842-8A33-DB23222A3B7D',
  'David Clarke',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Man',
  'La Trobe',
  'T2_P015, (50%), T2_P018, (50%)'),
 ('5C0249D7-99C9-44A2-8D16-BDE1F14A9A90',
  '0064A2D8-5259-2743-B9A0-D49D29CFDD35',
  'Laura Phillips',
  '2023-12-09',
  '2024-02-02',
  55,
  'Professional',
  'Woman',
  'Monash',
  'T2_P015, (50%), T2_P018, (100%), T2_P018, (50%)'),
 ('274C7033-B748-42DF-87DA-93E633247E1E',
  '43F2CB88-19F4-2146-902C-36DB913DB8CE',
  'Richard Jones',
  '2023-12-09',
  '2024-02-05',
  58,
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'Monash',
  'T1_P007, (100%), T1_P006, (50%), T1_P011, (50%)'),
 ('274C7033-B748-42DF-87DA-93E633247E1E',
  '126A69DF-E868-FD49-8D17-C3216C7743F7',
  'Corey Port',
  '2023-12-09',
  '2024-02-05',
  58,
  'Student',
  'Man',
  '',
  'T1_P006, (50%), T1_P011, (50%)'),
 ('274C7033-B748-42DF-87DA-93E633247E1E',
  '6EA42803-E6EC-2E48-A1CE-50CA3B43A865',
  "Jacinda O'Connor",
  '2023-12-09',
  '2024-02-01',
  54,
  'Student',
  'Woman',
  '',
  'T1_P006, (50%), T1_P011, (50%)'),
 ('E96F4F52-EE8A-5642-A087-7675AAA2D5B6',
  '8EDC1FC4-F985-1948-9655-2494947A0707',
  'Barbara Bollard',
  '2023-11-16',
  '2023-12-16',
  30,
  'Senior Researcher',
  'Woman',
  'AUT',
  'T2_P023, (100%), T2_P023, (50%), T2_P022, (50%)'),
 ('A5DBC058-8DD1-48B0-B290-4F6F0744A181',
  'D8ACCFBB-19E8-448D-94E8-4FA8281D3F73',
  'Matthew Swan',
  '2023-12-16',
  '2024-02-01',
  47,
  'Professional',
  'Man',
  '',
  'T2_P023, (100%)'),
 ('705DC56C-A6D1-4554-A9ED-D99FE796EE49',
  '1A46AAFD-00D3-D94B-A4CC-B70DA027E142',
  'Andy Cianchi',
  '',
  '',
  '',
  'Field Leader',
  'Man',
  'Monash',
  None),
 ('54E88FF2-E46D-4AC8-8FAA-5C1360535B36',
  '6BC16DD4-3E26-AB41-8A1A-09F47E0C24F3',
  'Rachael Lappan',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T2_P015, (34%), T2_P018, (33%), T2_P022, (33%)'),
 ('E96F4F52-EE8A-5642-A087-7675AAA2D5B6',
  'DEB79D29-B3D0-AD40-9775-D35D57A63777',
  'Melinda Waterman',
  '2023-11-16',
  '2023-12-16',
  30,
  'Early Career (<5yrs post PhD)',
  '',
  'UOW',
  'T2_P022, (50%), T2_P023, (50%)'),
 ('6C56F613-C55F-1D4C-A705-DA807C6713CB',
  'AA570158-E7E0-5C4A-9CD2-D7E56CD08A57',
  'Toby Travers',
  '2022-02-02',
  '2022-02-25',
  23,
  'Early Career (<5yrs post PhD)',
  'Man',
  'Monash',
  'T2_P019, (100%), T3_P027, (100%)'),
 ('5C0249D7-99C9-44A2-8D16-BDE1F14A9A90',
  '0C44081C-D763-1842-8A33-DB23222A3B7D',
  'David Clarke',
  '2023-12-09',
  '2024-02-02',
  55,
  'Early Career (<5yrs post PhD)',
  'Man',
  'La Trobe',
  'T2_P015, (50%), T2_P018, (50%)'),
 ('274C7033-B748-42DF-87DA-93E633247E1E',
  '59ED8ECE-D904-F145-8B7C-205550E6E542',
  'Levan Tielidze',
  '2023-12-09',
  '2024-02-05',
  58,
  'Mid Career (5-15yrs post PhD)',
  'Man',
  '',
  'T1_P006, (50%), T1_P011, (50%)'),
 ('A5DBC058-8DD1-48B0-B290-4F6F0744A181',
  '972B11D3-181A-464A-8F92-853EC5845D0C',
  'Julian Galvez Serna',
  '2023-12-16',
  '2024-02-01',
  47,
  'Professional',
  'Man',
  '',
  'T2_P023, (100%)'),
 ('78255391-7AC1-4663-8198-F07D6A864B8F',
  '1A46AAFD-00D3-D94B-A4CC-B70DA027E142',
  'Andy Cianchi',
  '2024-01-04',
  '2024-01-24',
  20,
  'Field Leader',
  'Man',
  'Monash',
  None),
 ('78255391-7AC1-4663-8198-F07D6A864B8F',
  '206BEE9F-D743-45B7-BF9E-11019604A8B6',
  'Amy Liu',
  '2024-01-04',
  '2024-01-24',
  20,
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T2_P019, (100%), T2_P022, (33%), T2_P015, (34%), T2_P018, (33%)'),
 ('78255391-7AC1-4663-8198-F07D6A864B8F',
  '6BC16DD4-3E26-AB41-8A1A-09F47E0C24F3',
  'Rachael Lappan',
  '2024-01-04',
  '2024-01-24',
  20,
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T2_P015, (34%), T2_P018, (33%), T2_P022, (33%)'),
 ('78255391-7AC1-4663-8198-F07D6A864B8F',
  '6218F51B-E4A3-E14F-BBB2-E55CF6E0C1A3',
  'Sophie Holland',
  '2024-01-04',
  '2024-01-24',
  20,
  'Early Career (<5yrs post PhD)',
  'Non-binary',
  '',
  'T2_P022, (33%), T2_P015, (34%), T2_P018, (33%)'),
 ('104EAB15-852A-9147-8766-F4DA0ADE26AD',
  '88080486-B8DB-7D4E-BAA1-1AC0A85139A4',
  'Steven Chown',
  '',
  '',
  '',
  'Senior Researcher',
  'Man',
  'Monash',
  None),
 ('104EAB15-852A-9147-8766-F4DA0ADE26AD',
  '206BEE9F-D743-45B7-BF9E-11019604A8B6',
  'Amy Liu',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T2_P019, (100%), T2_P022, (33%), T2_P015, (34%), T2_P018, (33%)'),
 ('501F1BF4-F204-5347-8B9A-4C3115FC5792',
  'FBC44D1A-F9B8-D744-9B50-F4CD71E237D1',
  'Justine Shaw',
  '',
  '',
  '',
  'Senior Researcher',
  'Woman',
  'QUT',
  'T1_P004, (100%)'),
 ('501F1BF4-F204-5347-8B9A-4C3115FC5792',
  'CF8B9269-A651-7642-ABEE-58BCD8F53541',
  'Charlotte Patterson',
  '',
  '',
  '',
  'Student',
  'Woman',
  'QUT',
  None),
 ('A8719669-2598-4A4D-A95B-424F4E895CF8',
  '0641E93F-1887-994C-86FE-510E18546AFC',
  'Matthias Dehling',
  '2024-01-05',
  '2024-03-03',
  58,
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'Monash',
  'T3_P028, (100%)'),
 ('71229D33-D23D-8644-BB55-242294A45FCE',
  '050362C9-BC57-E74E-97B4-3CAD3B526130',
  'Mardi McNeil',
  '2024-02-06',
  '2024-04-14',
  68,
  'Early Career (<5yrs post PhD)',
  'Woman',
  '',
  'T1_P011, (100%)'),
 ('6E843797-DF41-41CC-BEA0-95629B96B117',
  '4C10171F-63C4-CB48-9C3E-A4E92BEE5439',
  'Jeremy  Bird',
  '2022-10-21',
  '2023-04-18',
  159,
  'Field Leader',
  'Man',
  'Monash',
  'T2_P019, (33%), T1_P004, (11%)'),
 ('85C7BEEF-008F-B045-8BAB-CB826608779D',
  '4C10171F-63C4-CB48-9C3E-A4E92BEE5439',
  'Jeremy  Bird',
  '2023-05-10',
  '2023-05-29',
  13,
  'Field Leader',
  'Man',
  'Monash',
  'T2_P019, (33%), T1_P004, (11%)'),
 ('E752232F-0437-46B7-BAEA-7F4799126880',
  'AA570158-E7E0-5C4A-9CD2-D7E56CD08A57',
  'Toby Travers',
  '2023-12-09',
  '2024-02-02',
  55,
  'Early Career (<5yrs post PhD)',
  'Man',
  'Monash',
  'T2_P019, (100%), T3_P027, (100%)'),
 ('7633B9C7-55D8-4298-9D01-81F34BE59295',
  '307EEFC7-F499-C144-9384-4E7611632F51',
  'Lawrence Bird',
  '',
  '',
  '',
  'Student',
  'Man',
  'Monash',
  None),
 ('9A2C6C7A-834D-410A-B8AD-5BBF5548C8D6',
  'E77129A9-D1E7-7B4A-AF77-8031D27DF1AE',
  'Jan Strugnell',
  '',
  '',
  '',
  'Mid Career (5-15yrs post PhD)',
  'Woman',
  'JCU',
  None),
 ('9A2C6C7A-834D-410A-B8AD-5BBF5548C8D6',
  '58B17C26-C2A3-1541-9EF0-714B1F36CF85',
  'Sally Lau',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  'JCU',
  None),
 ('9A2C6C7A-834D-410A-B8AD-5BBF5548C8D6',
  '24BC17B4-CB0E-4E6B-AE82-01BA8D199CF7',
  'Rosie Kidman',
  '',
  '',
  '',
  'Professional',
  'Woman',
  '',
  None),
 ('9A2C6C7A-834D-410A-B8AD-5BBF5548C8D6',
  'E361D147-14F2-DF40-A252-7710C50DACCE',
  'Nerida Wilson',
  '',
  '',
  '',
  'Senior Researcher',
  'Woman',
  'WA Museum',
  None),
 ('9A2C6C7A-834D-410A-B8AD-5BBF5548C8D6',
  '7C57AD68-12D0-3F49-8A49-EDA3ED3C0EFC',
  'Jasmin Wells',
  '',
  '',
  '',
  'Professional',
  'Woman',
  '',
  None),
 ('8893A297-F8B6-496B-AA49-C5CE587386DF',
  'EDEBC997-3964-7247-BDAC-DA4FDBCAC46C',
  'John Turnbull',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Man',
  'USyd',
  None),
 ('8893A297-F8B6-496B-AA49-C5CE587386DF',
  '4260082F-FB3C-9448-9551-6EE013A623FA',
  'Jonny Stark',
  '',
  '',
  '',
  'Senior Researcher',
  '',
  'AAD',
  None),
 ('8893A297-F8B6-496B-AA49-C5CE587386DF',
  '4F223812-0ADD-0A46-9768-E8EFB59E5BC2',
  'Stephanie Gardner',
  '',
  '',
  '',
  'Early Career (<5yrs post PhD)',
  'Woman',
  'USyd',
  None),
 ('8893A297-F8B6-496B-AA49-C5CE587386DF',
  '91521632-B6B0-C44C-8852-052F1ECAD466',
  'Jakob Quade',
  '',
  '',
  '',
  'Student',
  'Man',
  '',
  None),
 ('8893A297-F8B6-496B-AA49-C5CE587386DF',
  '19974E53-1074-4C47-A9D6-C348BDCE9F08',
  'Raphael Burkart-Radtke',
  '',
  '',
  '',
  'Professional',
  'Man',
  '',
  None),
 ('845AA45C-04F8-499B-9E54-159F85D7FD48',
  '88080486-B8DB-7D4E-BAA1-1AC0A85139A4',
  'Steven Chown',
  '',
  '',
  '',
  'Senior Researcher',
  'Man',
  'Monash',
  None),
 ('845AA45C-04F8-499B-9E54-159F85D7FD48',
  '59DF46DD-1BE3-5842-B759-1B8F8A7D8268',
  'Angela Firth',
  '',
  '',
  '',
  'Professional',
  'Woman',
  'Monash',
  None),
 ('845AA45C-04F8-499B-9E54-159F85D7FD48',
  'CB29485B-0B8B-A545-96AA-7495FE2B33A2',
  'Anna Quinn',
  '',
  '',
  '',
  'Professional',
  'Woman',
  'Monash',
  None),
 ('7BEB2AE3-C42D-4167-90D2-0A6EF031C360',
  'B3BB1CEF-1CDF-BD42-BC0A-21A212CCAB1A',
  'Sharon Robinson',
  '',
  '',
  '',
  'Senior Researcher',
  'Woman',
  'UOW',
  'T2_P022, (100%)'),
 ('F61D28EE-572D-4A3B-B241-96E2804B03DD',
  '0064A2D8-5259-2743-B9A0-D49D29CFDD35',
  'Laura Phillips',
  '',
  '',
  '',
  'Professional',
  'Woman',
  'Monash',
  'T2_P015, (50%), T2_P018, (100%), T2_P018, (50%)'),
 ('F61D28EE-572D-4A3B-B241-96E2804B03DD',
  '43F2CB88-19F4-2146-902C-36DB913DB8CE',
  'Richard Jones',
  '',
  '',
  '',
  'Mid Career (5-15yrs post PhD)',
  'Man',
  'Monash',
  'T1_P007, (100%), T1_P006, (50%), T1_P011, (50%)')]